

body{
  /* background:linear-gradient(to right, #0f0c29 , #302b63,#24243e); */
  background: linear-gradient(to right,#4568DC,#B06AB3);
  background-size: contain;
  margin-top: 10rem;
}
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
button{
  cursor:pointer;
}
img {
  max-width: 100%;
  height: auto; 
}
@media only screen and (max-width: 600px) {
  img {
      max-width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .cheppuButton {
      top:600;
      left :120;
  }
}
